  <h2>create your account</h2>
    <form action="/results" method="post">
      <p>
        <label for="name">Your Name:</label>
        <input type="text" name="name">
        <label for="bday">Your birthday:</label>
        <input type="date" name="bday">
        <label for="phone">Your Age:</label>
        <input type="tel" name="age">
      </p>
      <input type="submit" value="Get my Horoscope!">
    </form>
  </div>